*.iml
.gradle
local.properties
capture/src/main/jniLibs/
app/build/
capture/build/
capture/.cxx/
app/.cxx/
app/release.keystore
*.apk
.DS_Store
.kotlin/
capture/rust/irminsul-jni/target/
capture/rust/irminsul-core/target/
capture/rust/irminsul-jni/.cargo.disabled-local-patch/
design/
capture/rust/pcap-check/target/
capture-sample/build/
